{#{% extends base_template %}#}
{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    {{ form_start(form, { attr : { id: 'add-etapa-form' } }) }}
    <div class="modal-body">

        <div class="sonata-ba-collapsed-fields">
            {{ form_widget(form.etapa) }}
        </div>

    </div>

    <div class="modal-footer">
        {{ form_widget(form.save, { attr: { class: 'btn btn-primary' } }) }}
        <a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
    {{ form_end(form) }}

    <script>
        $('#add-etapa-form').on('submit', function(e){
            e.preventDefault();
            $.post('{{ app.request.getRequestUri() }}', $(this).serialize()).done(function(html){
                $("#add-etapa-modal").modal('hide');
                $("#list-etapas").html($($.parseHTML(html)).find('#list-etapas').html());
            });
        });
    </script>
{% endblock %}
